<footer class="footer" role="contentinfo">
  <div class="footer__grid">
    <div class="footer__row footer__logo"><a href="https://golf.com/" rel="home"></a>
    </div>
    <div class="footer__row footer__newsletter">
        <label class="title" for="footer__newsletter__email">Newsletter</label>
        <div class="sumome-popup-embed-overlay"></div><div class="sumo-form-wrapper listbuilder-popup listbuilder-popup-embedded" style="height: 165.259px;"><div class="listbuilder-popup-content"><div class="listbuilder-popup-scale" style="position: relative; transform: translate(-50%, -50%); transform-origin: center top; top: 81.5px; left: 50%; zoom: 1.01386; height: 163px; width: 505px;"><div><div class="sumome-react-wysiwyg-popup-container sumome-react-wysiwyg-inline-popup sumome-react-wysiwyg-is-resizing" style="width: 505px; height: 163px;"><link href="https://fonts.googleapis.com/css?family=Arimo:900,900italic,800,800italic,700,700italic,600,600italic,500,500italic,400,400italic,300,300italic,200,200italic,100,100italic" rel="stylesheet" type="text/css"><div class="sumome-react-wysiwyg-component sumome-react-wysiwyg-inline-popup-background sumome-react-wysiwyg-background" style="left: 0px; top: 0px; width: 505px; height: 163px; position: absolute;"><div class="sumome-react-wysiwyg-move-handle" style="size: 16px; height: 100%;"><div style="position: relative; width: 100%; height: 100%; overflow: hidden; z-index: 0; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px; border-color: rgb(0, 0, 0); border-style: solid; border-width: 0px;"><div style="background-color: rgba(0, 0, 0, 0); fill: rgb(250, 250, 250); padding: 0px; margin: 0px; display: block; width: 100%; height: 100%;"></div><div style="position: absolute; inset: 0px;"></div></div></div></div><div class="sumome-react-wysiwyg-component sumome-react-wysiwyg-inline-popup-textField sumome-react-wysiwyg-textField" style="left: 0px; top: 0px; width: 238px; height: 40px; position: absolute;"><div class="sumome-react-wysiwyg-move-handle" style="size: 25px; height: 100%;"><div><div></div><input type="text" value="" name="email" spellcheck="false" placeholder="EMAIL ADDRESS" autocomplete="off" style="color: rgb(150, 150, 150); background-color: rgb(255, 255, 255); font-family: Arimo, sans-serif; font-weight: 700; font-style: normal; font-size: 10px; text-align: left; border-width: 0px; border-color: rgb(204, 204, 204); border-style: solid; border-radius: 0px; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px inset; text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px; padding: 0px 14px; margin: 0px; display: block; width: 100%; max-height: 52px; height: 40px; transition: none 0s ease 0s;"></div></div></div><div class="sumome-react-wysiwyg-component sumome-react-wysiwyg-inline-popup-button sumome-react-wysiwyg-button" style="left: 0px; top: 123px; width: 238px; height: 40px; position: absolute;"><div class="sumome-react-wysiwyg-move-handle" style="size: 20px; height: 100%;"><div style="padding: 0px; margin: 0px; display: block; width: 100%; height: 100%; position: relative; overflow: hidden; z-index: 0; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px; border-color: rgb(0, 0, 0); border-style: solid; border-width: 0px;"><button style="color: rgb(51, 51, 51); background-color: rgb(255, 163, 0); font-family: Arimo, sans-serif; font-weight: 700; font-style: normal; font-size: 10px; line-height: 1.5; text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px; padding: 0px; margin: 0px; display: block; width: 100%; height: 100%; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px inset; cursor: pointer;">SIGN UP</button></div></div></div><div class="sumome-react-wysiwyg-component sumome-react-wysiwyg-inline-popup-dropdown sumome-react-wysiwyg-dropdown" style="left: 0px; top: 57px; width: 238px; position: absolute;"><div class="sumome-react-wysiwyg-move-handle" style="size: 24px; height: 100%;"><div class="sumome-react-wysiwyg-component-wrapper" style="color: rgb(150, 150, 150); font-family: Arimo, sans-serif; font-weight: 700; font-style: normal; font-size: 10px; border-width: 0px; border-color: rgb(204, 204, 204); border-style: solid; border-radius: 0px; padding: 0px; margin: 0px; display: block; width: 100%; position: relative; overflow: hidden; z-index: 0; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px; height: 49px; line-height: 49px;"><select style="height: 49px; margin: 0px; padding: 0px 14px; border: none; color: rgb(150, 150, 150); background-color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px inset; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: 49px; width: 100%;"><option value="placeholder" disabled="" selected="">SELECT STATE</option><option value="International">None (Outside U.S.)</option><option value="AL">Alabama</option><option value="AK">Alaska</option><option value="AZ">Arizona</option><option value="AR">Arkansas</option><option value="CA">California</option><option value="CO">Colorado</option><option value="CT">Connecticut</option><option value="DE">Delaware</option><option value="DC">District of Columbia</option><option value="FL">Florida</option><option value="GA">Georgia</option><option value="HI">Hawaii</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="IA">Iowa</option><option value="KS">Kansas</option><option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="ME">Maine</option><option value="MD">Maryland</option><option value="MA">Massachussetts</option><option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MS">Mississippi</option><option value="MO">Missouri</option><option value="MT">Montana</option><option value="NE">Nebraska</option><option value="NV">Nevada</option><option value="NH">New Hampshire</option><option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option value="NY">New York</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option><option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option><option value="VT">Vermont</option><option value="VA">Virginia</option><option value="WA">Washington</option><option value="WV">West Virginia</option><option value="WI">Wisconsin</option><option value="WY">Wyoming</option><option value="AS">American Samoa</option><option value="GU">Guam</option><option value="MP">Northern Mariana Islands</option><option value="PR">Puerto Rico</option><option value="UM">United States Minor Outlying Islands</option><option value="VI">Virgin Islands</option><option value="AA">Armed Forces Americas</option><option value="AP">Armed Forces Pacific</option><option value="AE">Armed Forces Others</option></select></div></div></div><input type="hidden" name="nl_forecast" value="1"><input type="hidden" name="nl_lessons" value="1"><input type="hidden" name="nl_trips" value="1"><input type="hidden" name="nl_equipment" value="1"><input type="hidden" name="source" value="next-gen-sidebar"><input type="hidden" name="promo_national" value="1"></div></div></div></div></div><span data-sumome-listbuilder-embed-id="775626bf97c3e0ff535a161f8e8fb2678b21a924181c63bc76693fce9ac8d56b"></span>
    </div>
    <div class="footer__row footer__categories">
        <div class="title">Categories</div>
        <nav class="menu_cat">
            <div class="menu_cat__wrapper">
              <ul id="category-menu" class="menu_cat__ul">
                <li id="menu-item-15392931" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15392931"><a href="https://golf.com/news/">News</a></li>
                <li id="menu-item-15392930" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15392930"><a href="https://golf.com/instruction/">Instruction</a></li>
                <li id="menu-item-15392929" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15392929"><a href="https://golf.com/gear/">Gear</a></li>
                <li id="menu-item-15392928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15392928"><a href="https://golf.com/lifestyle/">Lifestyle</a></li>
                <li id="menu-item-15392927" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15392927"><a href="https://golf.com/travel/">Travel</a></li>
              </ul>
            </div>                
        </nav>
    </div>
    <div class="footer__row footer__services">
        <div class="title">Services</div>
        <nav class="menu_cat">
          <div class="menu_ser__wrapper">
            <ul id="services-menu" class="menu_ser__ul">
              <li id="menu-item-15392915" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15392915"><a href="https://golf.com/customer-service/">Customer Service</a></li>
              <li id="menu-item-15392917" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15392917"><a href="https://w1.buysub.com/pubs/EB/GFM/ab-btmbanner.jsp?cds_mag_code=GFM">Subscription</a></li>
              <li id="menu-item-15392921" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15392921"><a href="https://golf.com/mediakit/">Golf Media Kit</a></li>
              <li id="menu-item-15392916" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15392916"><a href="https://golf.com/terms-and-conditions/">Terms and Conditions</a></li>
              <li id="menu-item-15392914" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-15392914"><a href="https://golf.com/privacy-policy/">Privacy Policy</a></li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="footer__row footer__social">
        <div class="title">Social</div>
                        <ul>
                                        <li>
                        <a href="https://www.facebook.com/golf" target="_blank" rel="noopener noreferrer" class="social_link facebook">
                            <span class="icon"><i class="icon-facebook"></i></span>
                            <span class="text">facebook</span>
                        </a>
                    </li>
                                            <li>
                        <a href="https://www.twitter.com/golf_com" target="_blank" rel="noopener noreferrer" class="social_link twitter">
                            <span class="icon"><i class="icon-twitter"></i></span>
                            <span class="text">twitter</span>
                        </a>
                    </li>
                                            <li>
                        <a href="https://www.instagram.com/golf_com" target="_blank" rel="noopener noreferrer" class="social_link instagram">
                            <span class="icon"><i class="icon-instagram"></i></span>
                            <span class="text">instagram</span>
                        </a>
                    </li>
                                            <li>
                        <a href="https://www.youtube.com/channel/UCzdMqRWzdF0JUJRIVa-dgDw" target="_blank" rel="noopener noreferrer" class="social_link youtube">
                            <span class="icon"><i class="icon-youtube"></i></span>
                            <span class="text">youtube</span>
                        </a>
                    </li>
                                </ul>
    </div>
    <div class="footer__row footer__magazine">
        <div class="title">Magazine</div>
        <a href="https://w1.buysub.com/pubs/EB/GFM/ab-btmbanner.jsp?cds_mag_code=GFM" target="_blank" rel="noopener noreferrer">
            <div class="magazine-cover">
                                        <img class="lazy inner lazy--loaded" data-src="https://golf.com/wp-content/uploads/2020/04/current_cover_200w.png" data-srcset="https://golf.com/wp-content/uploads/2020/04/current_cover_200w.png" alt="current_cover" src="https://golf.com/wp-content/uploads/2020/04/current_cover_200w.png" srcset="https://golf.com/wp-content/uploads/2020/04/current_cover_200w.png">
            </div>
        </a>
    </div>
    <div class="footer__row footer__copyright">
        <p>GOLF.com and GOLF Magazine are published by EB GOLF MEDIA LLC, a division of 8AM GOLF</p>
    </div>
  </div>
</footer>

{% comment %} <footer class="footer" role="contentinfo">
    <div class="footer__grid">
        <div class="footer__row footer__logo">
            <a href="{{ section.settings.logo_link }}" rel="home"></a>
        </div>
        <div class="footer__row footer__newsletter">
            <label class="title" for="footer__newsletter__email">Newsletter</label>
            <span data-sumome-listbuilder-embed-id="775626bf97c3e0ff535a161f8e8fb2678b21a924181c63bc76693fce9ac8d56b"></span>
        </div>
        <div class="footer__row footer__categories">
            <div class="title">Categories</div>
            <nav class="menu_cat">
                <?php
                wp_nav_menu(array(
                    'menu' => 'Menu 2',
                    'theme_location' => 'menu-2',
                    'menu_id' => 'category-menu',
                    'menu_class' => 'menu_cat__ul',
                    'container_class' => 'menu_cat__wrapper',
                ));
                ?>
            </nav>
        </div>
        <div class="footer__row footer__services">
            <div class="title">Services</div>
            <nav class="menu_cat">
                <?php
                wp_nav_menu(array(
                    'menu' => 'Menu 3',
                    'theme_location' => 'menu-3',
                    'menu_id' => 'services-menu',
                    'menu_class' => 'menu_ser__ul',
                    'container_class' => 'menu_ser__wrapper',
                ));
                ?>
            </nav>
        </div>
        <div class="footer__row footer__social">
            <div class="title">Social</div>
            <ul>
                <li>
                    <a href="https://www.facebook.com/golf" target="_blank" rel="noopener noreferrer" class="social_link facebook">
                        <span class="icon"><i class="icon-facebook"></i></span>
                        <span class="text">facebook</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com/golf_com" target="_blank" rel="noopener noreferrer" class="social_link twitter">
                        <span class="icon"><i class="icon-twitter"></i></span>
                        <span class="text">twitter</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/golf_com" target="_blank" rel="noopener noreferrer" class="social_link instagram">
                        <span class="icon"><i class="icon-instagram"></i></span>
                        <span class="text">instagram</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCzdMqRWzdF0JUJRIVa-dgDw" target="_blank" rel="noopener noreferrer" class="social_link youtube">
                        <span class="icon"><i class="icon-youtube"></i></span>
                        <span class="text">youtube</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__row footer__magazine">
            <div class="title">Magazine</div>
            <a href="<?= get_field('magazine_cover_link', 'option'); ?>" target="_blank" rel="noopener noreferrer">
                <div class="magazine-cover">
                    <?php $magazine_cover = get_field('magazine_cover', 'option'); ?>
                    <img
                            class="lazy inner"
                            data-src="<?php echo $magazine_cover['url']; ?>"
                            data-srcset="<?php echo $magazine_cover['url']; ?>"
                            alt="<?php echo $magazine_cover['alt']; ?>"/>
                </div>
            </a>
        </div>
        <div class="footer__row footer__copyright">
            <p><?php the_field('copyright', 'option'); ?></p>
        </div>
    </div>
</footer> {% endcomment %}