{% comment %} 
  Site Header Main Nav Menu
  * note: includes main_menu link_list variable from header.liquid
{% endcomment %}
<div class="menu-main-menu-container">
  <ul id="primary-menu" class="menu">
    {% for link in linklists[nav].links %}
      <li class="menu-item menu-item-type-post_type menu-item-object-page">
        <a href="{{ link.url }}">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}

    {% comment %} Subscribe link always present {% endcomment %}
    <li id="menu-item-15392936" class="subscribe menu-item menu-item-type-custom menu-item-object-custom menu-item-15392936"><a href="https://w1.buysub.com/pubs/EB/GFM/ab-hamburger.jsp?cds_mag_code=GFM">Subscribe</a></li>
  </ul>
</div>
