# Editor files
.cache
.vscode

# Mac files
.DS_Store

# Node_modules
node_modules

# Shopify local config
config.yml

# Compiled assets
assets/styles.css.
assets/styles.css.liquid
assets/styles.css.map
assets/styles.css.liquid.map
assets/app.js
assets/app.js.map
assets/index.js
assets/index.js.map
