// @font-face {
// 	font-family: 'Maax';
// 	src: url('{{ "Maax.eot"}}'),
// 	url('Maax.woff2') format('woff2'),
// 	url('Maax.woff') format('woff');
// }

// @font-face {
// 	font-family: 'Maax-Medium';
// 	src: url('{{ "Maax-Medium.eot"}}'),
// 	url('Maax-Medium.woff2') format('woff2'),
// 	url('Maax-Medium.woff') format('woff');
// }

// @font-face {
// 	font-family: 'Maax-Mediumitalic';
// 	src: url('{{ "Maax-Mediumitalic.eot"}}'),
// 	url('Maax-Mediumitalic.woff2') format('woff2'),
// 	url('Maax-Mediumitalic.woff') format('woff');
// }

// @font-face {
// 	font-family: 'Maax-Italic';
// 	src: url('{{ "Maax-Italic.eot"}}'),
// 	url('Maax-Italic.woff2') format('woff2'),
// 	url('Maax-Italic.woff') format('woff');
// }

// @font-face {
// 	font-family: 'Maax-BoldItalic';
// 	src: url('{{ "Maax-BoldItalic.eot"}}'),
// 	url('Maax-BoldItalic.woff2') format('woff2'),
// 	url('Maax-BoldItalic.woff') format('woff');
// }
// @font-face {
// 	font-family: 'Maax-Bold';
// 	src: url('{{ "Maax-Bold.eot"}}'),
// 	url('Maax-Bold.woff2') format('woff2'),
// 	url('Maax-Bold.woff') format('woff');
// }

$default-font-size: 18px;
$default-line-height: 1.16;

$maax: 'Maax', helvetica, sans-serif;
$maax-medium: 'Maax-Medium', helvetica, sans-serif;
$maax-medium-italic: 'Maax-Mediumitalic', helvetica, sans-serif;
$maax-italic: 'Maax-Italic', helvetica, sans-serif;
$maax-bold-italic: 'Maax-BoldItalic', helvetica, sans-serif;
$maax-bold: 'Maax-Bold', helvetica, sans-serif;

h1 {
	font-family: $maax-medium;
	font-size: em(40px);
	line-height: 1.35;

	@include break-max(tabletLarge) {
		font-size: em(35px);
		line-height: 1.23;
	}

	@include break-max(mobile) {
		font-size: em(30px);
		line-height: 1.26;
	}
}

h2 {
	font-family: $maax-medium;
	font-size: em(27px);
	line-height: lh(32.4px, 27px);

	@include break-max(tabletLarge) {
		font-size: em(18px);
		line-height: 1.33;
	}
}

h3 { 
	font-size: em(25px); 

	@include break-max(tabletLarge) {
		font-size: em(13px);
		line-height: 1.3;
	}
}

a {
	display: block;
	color: $grey;
	font-size: em(12px);
	font-family: $maax-medium;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: transform $med ease-in-out;

	&.light { color: $light-grey; }

	&:hover { text-decoration: underline;	}
}

.headline {
	font-size: em(40px);
	line-height: 1.2;

	&--superscript {
		margin-left: 10px;
		font-size: 25px;
		line-height: 1.92;
	}

	@include break-max(tabletLarge) { font-size: em(35px); }

	@include break-max(mobile) {
		font-size: em(30px);
		line-height: 1.26;
	}
}

.label {
	display: block;
	font-size: em(12px);
	font-family: $maax-medium;
	color: $orange;
	text-transform: uppercase;
	letter-spacing: 2px;

	&--white {
		color: $white;
	}

	&--grey {
		color: $grey;
	}

	&--purple {
		color: $purple;
	}
}

.xlarge {
	font-family: $maax-medium;
	font-size: em(50px);
	letter-spacing: -0.55px;
	line-height: 1.1;

}

.large {
	font-family: $maax-medium;
	font-size: em(40px);
	letter-spacing: -0.35px;
	line-height: 1.2;
	
	@include break-max(mobile) {
		font-size: em(30px);
	}
}

.medium1 {
	font-family: $maax-medium;
	font-size: em(30px);
	letter-spacing: -0.25px;
	line-height: 1.2;

	@include break-max(mobile) {
		font-size: em(23px);
	}
}

.medium2 {
	font-family: $maax-medium;
	font-size: em(24px);
	letter-spacing: 0;
	line-height: 1.08;

	@include break-max(mobile) {
		font-size: em(23px);
	}
}

.medium3 {
	font-family: $maax-medium;
	font-size: em(23px);
	letter-spacing: -0.25px;
	line-height: 1.26;

	@include break-max(mobile) {
		font-size: em(18px);
	}
}

.medium3--reg {
	font-family: $maax;
	font-size: em(23px);
	letter-spacing: -0.25px;
	line-height: 1.26;

	@include break-max(mobile) {
		font-size: em(18px);
	}
}

.small {
	font-family: $maax-medium;
	font-size: em(15px);
	letter-spacing: -0.15px;
	line-height: 1.26;

	@include break-max(mobile) {
		font-size: em(13px);
	}
}

.small--reg {
	font-family: $maax;
	font-size: em(15px);
	letter-spacing: -0.15px;
	line-height: 1.26;

	@include break-max(mobile) {
		font-size: em(12px);
	}
}

.footnote--large {
	color: $orange;
	font-family: $maax-medium;
	font-size: em(25px);
	letter-spacing: -0.35px;
	line-height: 1.92;

	@include break-max(mobile) {
		font-size: em(16px);
	}
}

.copy {
	font-family: $maax;
	font-size: em(18px);
	letter-spacing: -0.15px;
	line-height: 1.55;

	@include break-max(mobile) {
		font-size: em(16px);
	}
}

.copy--secondary {
	font-family: $maax;
	font-size: em(12px);
	letter-spacing: -0.10px;
	line-height: 1.66;
}

.orange { color: $orange; }
.light-orange { color: $light-orange; }
.lowercase { text-transform: lowercase; }