@charset 'UTF-8';

// COLORS
$black: #212121;
$white: #fff;
$orange: #fdab56;
$dark-orange: #e68d19;
$light-orange: #ffb549;
$med-orange: #ffa94c;
$off-white: #f6f6f6;
$off-whiter: #f1f1f1;
$dark-grey: #222;
$grey: #767676;
$light-grey: #c8c8c8;
$lighter-grey: #ddd;
$off-grey: #bbb;
$off-greyer: #eee;
$purple: #7d5bae;
$lemon: #ffd500;
$chocolate: #784700;
$unflavored: #ddd;
$mixed-berry: #bd00bd;
$inactive: #ccc;
$off-orange: rgba(255,169,76,0.15);
$shadow: rgba(145,145,145,0.35);
$shadow-dark: rgba(0,0,0,0.35);
$shadow-light: rgba(0,0,0,0.05);

// INDEX
$z1: 100;
$z2: 200;
$z3: 300;
$z4: 400;
$z5: 500;
$z6: 600;
$z7: 700;
$z8: 800;
$z9: 900;
$z10: 1000;

// TRANSITION SPEEDS
$x-fast: .2s;
$fast: .25s;
$med: .3s;
$slow: .4s;
$x-slow: .5s;