/* Buttons
========================================================================== */

.btn {
  height: 40px;
  padding: 8px 24px;
  max-width: 300px;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  font-size: em(12px);
  line-height: 1.9;
  letter-spacing: em(0.5px);
  outline: none;
  appearance: none;
  background-color: $black;
  border: 2px solid $black;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  transition: all $med ease;

  &--wide { padding: 8px 48px; }
  
  &:hover {
    background-color: $orange;
    border-color: $orange;
    text-decoration: none;
  }

  &--orange {
    background-color: $orange;
    border-color: $orange;

    &:hover {
      background-color: $dark-orange;
      border-color: $dark-orange;
    }
  }

  &--added {
    background-color: $dark-orange;
    border-color: $dark-orange;
    pointer-events: none;
  }

  &--filter,
  &--white {
    font-family: $maax-medium;
    color: $dark-grey;
    background-color: $white;
    border-color: $lighter-grey;
    border-width: 1px;

    &:hover,
    &.active {
      background-color: $off-orange;
      border-color: $orange;
    }

    &.view-all:not(.active):hover {
      background-color: $white;
      border-color: $lighter-grey;
    }

    &.filter.active {
      position: relative;
      padding-right: 40px;

      &:after {
        content: "\00d7";
        position: absolute;
        top: -2.5px;
        right: 17.5px;
        font-size: 20px;
      }
    }

    
    &.main {
      padding-right: 30px; 
      
      &:after {
        content: '\01d306';
        position: relative;
        left: 10px;
      }
    }
  }
  
  &--clear {
    height: 100%;
    width: 100%;
    color: $black;
    font-family: $maax-medium;
    letter-spacing: 1.83px;
    font-size: em(11px);
    background-color: transparent;
    border-color: transparent;

    &:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }

  &.add-to-cart { min-width: 130px; }

  @include break-max(mobile) { font-size: em(11px); }
}