.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 1440px;
  padding-top: 22px;
  padding-right: 16px;
  padding-bottom: 22px;
  padding-left: 16px;
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $off-whiter;

  h1 {
    font-size: 24px;
    line-height: 1; 

    a { 
      display: inline-block;
      text-transform: lowercase; 
      letter-spacing: 0;
      font-size: 24px;
    }
  }

  a { color: $dark-grey; }

  &__nav-icon {
    position: relative;
    display: none;
    width: 14px;
    height: 12px;
    margin-right: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      position: absolute;
      left: 0;
      display: block;
      height: 2px;
      width: 100%;
      background: $black;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    span:nth-child(1) {
      top: 0px;
    }

    span:nth-child(2),
    span:nth-child(3) {
      top: 5px;
    }

    span:nth-child(4) {
      top: 10px;
    }

    &.open {

      span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

      span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
  
      span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    } 

    @include break-max(tablet) {
      display: inline-block;
    }
  }

  &__nav-mobile {
    display: none;

    &.open {
      
      @include break-max(tablet) {
        z-index: 9999;
        position: fixed;
        top: 69px;
        left: 0;
        height: calc(100vh - 69px);
        width: 100vw;
        display: block;
        padding: 20px;
        background-color: $white;
      }
    }

    a { color: $black; }

    li {
      margin-bottom: 20px;

      &.last {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 20px;
        margin-bottom: 0;
        width: 100vw;
        border-top: 1px solid $off-whiter;
        text-align: center;
      }
    }
  }

  &__link {
    &:hover {
      &.active {
        border-bottom: none;
      }
    }
    &.active {
      border-bottom: 1px solid $orange;
    }
  }

  &__cart-count {
    position: relative;
    right: 4px;
    top: 8px;
    padding: 3px;
    padding-bottom: 2px;
    padding-left: 5px;
    background: $orange;
    color: $white;
    border-radius: 50%;
  }

  @include break-max(mobile) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.header__menu {

  li {
    margin-right: 38px;
  }

  .help-center { margin-right: 0; }

  &-right {
    a {
      font-family: $maax-bold;
    }

    .account { 
      margin-right: 32px; 

      @include break-max(mobile) {
        display: none;
      }
    }

    .cart { 
      position: relative;
      margin-right: 22px; 

      @include break-max(mobile) { margin-right: 0; }
    }
  }

  @include break-max(tablet) {
    display: none;
  }
}