
<div data-section-id="{{ section.id }}" class="hero">

</div>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Hero Image"
    }
  ],
  "presets": [
    {
      "name": "Hero Module",
      "category": "Homepage Modules"
    }
  ]
}
{% endschema %}
