/*========================================================================
Flex Layout
* Desktop 12-column, Tablet 9-column, Mobile 6-column
* Note: for single row usage, use grid for 2D grids
========================================================================== */

// Flexbox Mixins
@mixin flex(
  $direction: row,
  $justify: center,
  $alignI: center,
  $wrap: wrap,
  $alignC: center
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignI;
  flex-wrap: $wrap;
  align-content: $alignC;
}

// flex wrapper mixin
@mixin flex-row() {
}

// flex column mixin
@mixin flex-col() {
}

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// Flexbox grid system - apply with classes
.row {
  @include flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  &--reverse {
    @include flex($direction: row-reverse);
  }

  &--reverse-col {
    @include flex($direction: column-reverse);
  }

  &--nowrap {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  &--between {
    -ms-flex-pack: between;
    -webkit-box-pack: between;
    justify-content: space-between;
    text-align: between;
  }

  &--center {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  &--end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
}

.col {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  position: relative;

  &--full {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  &--inset {
    @include break(tabletLarge) {
      margin: 0 calc(100% * (1 / 12));
    }
  }

  &--start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  &--center {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  &--v-center {
    @include flex;
    align-items: center;
    height: 100%;
  }

  &--end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  &--between {
    -ms-flex-pack: between;
    -webkit-box-pack: between;
    justify-content: between;
    text-align: between;
  }

  &--offset {
    padding-left: 12px;

    @include break(tablet) {
      padding-left: 24px;
    }

    @include break(tabletLarge) {
      padding-left: 28px;
    }

    @include break(desktop) {
      padding-left: 34px;
    }

    &:first-of-type {
      padding-left: 0;
    }

    div {
      overflow: hidden;
    }

    &--even {
      padding-left: 6px;
      padding-right: 6px;

      @include break(tablet) {
        padding-left: 12px;
        padding-right: 12px;
      }

      @include break(tabletLarge) {
        padding-left: 14px;
        padding-right: 14px;
      }

      @include break(desktop) {
        padding-left: 17px;
        padding-right: 17px;
      }

      &:first-of-type {
        padding-left: 6px;

        @include break(tablet) {
          padding-left: 12px;
        }

        @include break(tabletLarge) {
          padding-left: 14px;
        }

        @include break(desktop) {
          padding-left: 17px;
        }
      }
    }
  }

  &--offset-single {
    padding-left: 12px;

    @include break(tablet) {
      padding-left: 24px;
    }

    @include break(tabletLarge) {
      padding-left: 28px;
    }

    @include break(desktop) {
      padding-left: 34px;
    }

    div {
      overflow: hidden;
    }
  }

  &--grid-offset {
    padding: 0 6px;

    @include break(tablet) {
      padding: 0 12px;
    }

    @include break(tabletLarge) {
      padding: 0 14px;
    }

    @include break(desktop) {
      padding: 0 25px;
    }

    div {
      overflow: hidden;
    }
  }
}

.col-sm-1 {
  -ms-flex-preferred-size: calc(100% * (1 / 6));
  flex-basis: calc(100% * (1 / 6));
  max-width: calc(100% * (1 / 6));
}

.col-sm-2 {
  -ms-flex-preferred-size: calc(100% * (2 / 6));
  flex-basis: calc(100% * (2 / 6));
  max-width: calc(100% * (2 / 6));
}

.col-sm-3 {
  -ms-flex-preferred-size: calc(100% * (3 / 6));
  flex-basis: calc(100% * (3 / 6));
  max-width: calc(100% * (3 / 6));
}

.col-sm-4 {
  -ms-flex-preferred-size: calc(100% * (4 / 6));
  flex-basis: calc(100% * (4 / 6));
  max-width: calc(100% * (4 / 6));
}

.col-sm-5 {
  -ms-flex-preferred-size: calc(100% * (5 / 6));
  flex-basis: calc(100% * (5 / 6));
  max-width: calc(100% * (5 / 6));
}

.col-sm-6 {
  -ms-flex-preferred-size: calc(100% * (6 / 6));
  flex-basis: calc(100% * (6 / 6));
  max-width: calc(100% * (6 / 6));

  &.col--offset {
    padding-left: 0;

    @include break(tablet) {
      padding-left: 20px;
    }

    &:first-of-type {
      padding-left: 0;
    }
  }
}

.col-sm-half {
  @include break(tablet) {
    -ms-flex-preferred-size: calc(100% * (1 / 2));
    flex-basis: calc(100% * (1 / 2));
    max-width: calc(100% * (1 / 2));

    &.col--offset {
      padding-left: 0;

      @include break(tablet) {
        padding-left: 20px;
      }

      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}

.col-md-1 {
  @include break(tablet) {
    -ms-flex-preferred-size: calc(100% * (1 / 9));
    flex-basis: calc(100% * (1 / 9));
    max-width: calc(100% * (1 / 9));

    &--of-6 {
      -ms-flex-preferred-size: calc(100% * (1 / 6));
      flex-basis: calc(100% * (1 / 6));
      max-width: calc(100% * (1 / 6));
    }
  }
}

.col-md-2 {
  @include break(tablet) {
    -ms-flex-preferred-size: calc(100% * (2 / 9));
    flex-basis: calc(100% * (2 / 9));
    max-width: calc(100% * (2 / 9));

    &--of-6 {
      -ms-flex-preferred-size: calc(100% * (2 / 6));
      flex-basis: calc(100% * (2 / 6));
      max-width: calc(100% * (2 / 6));
    }

    &--half {
      -ms-flex-preferred-size: calc(100% * (2.5 / 9));
      flex-basis: calc(100% * (2.5 / 9));
      max-width: calc(100% * (2.5 / 9));
    }
  }
}

.col-md-3 {
  @include break(tablet) {
    -ms-flex-preferred-size: calc(100% * (3 / 9));
    flex-basis: calc(100% * (3 / 9));
    max-width: calc(100% * (3 / 9));

    &--of-6 {
      -ms-flex-preferred-size: calc(100% * (3 / 6));
      flex-basis: calc(100% * (3 / 6));
      max-width: calc(100% * (3 / 6));
    }
  }
}

.col-md-4 {
  @include break(tablet) {
    -ms-flex-preferred-size: calc(100% * (4 / 9));
    flex-basis: calc(100% * (4 / 9));
    max-width: calc(100% * (4 / 9));

    &--of-6 {
      -ms-flex-preferred-size: calc(100% * (4 / 6));
      flex-basis: calc(100% * (4 / 6));
      max-width: calc(100% * (4 / 6));
    }
  }
}

.col-md-5 {
  @include break(tablet) {
    -ms-flex-preferred-size: calc(100% * (5 / 9));
    flex-basis: calc(100% * (5 / 9));
    max-width: calc(100% * (5 / 9));

    &--of-6 {
      -ms-flex-preferred-size: calc(100% * (5 / 6));
      flex-basis: calc(100% * (5 / 6));
      max-width: calc(100% * (5 / 6));
    }
  }
}

.col-md-6 {
  @include break(tablet) {
    -ms-flex-preferred-size: calc(100% * (6 / 9));
    flex-basis: calc(100% * (6 / 9));
    max-width: calc(100% * (6 / 9));

    &--of-6 {
      -ms-flex-preferred-size: calc(100% * (6 / 6));
      flex-basis: calc(100% * (6 / 6));
      max-width: calc(100% * (6 / 6));
    }
  }
}

.col-md-7 {
  @include break(tablet) {
    -ms-flex-preferred-size: calc(100% * (7 / 9));
    flex-basis: calc(100% * (7 / 9));
    max-width: calc(100% * (7 / 9));
  }
}

.col-md-8 {
  @include break(tablet) {
    -ms-flex-preferred-size: calc(100% * (8 / 9));
    flex-basis: calc(100% * (8 / 9));
    max-width: calc(100% * (8 / 9));

    &.col--offset {
      padding-left: 0;

      @include break(tabletLarge) {
        padding-left: 30px;
      }

      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}

.col-md-9 {
  @include break(tablet) {
    -ms-flex-preferred-size: calc(100% * (9 / 9));
    flex-basis: calc(100% * (9 / 9));
    max-width: calc(100% * (9 / 9));

    &.col--offset {
      padding-left: 0;

      @include break(tabletLarge) {
        padding-left: 30px;
      }

      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}

.col-md-half {
  @include break(tablet) {
    -ms-flex-preferred-size: calc(100% * (1 / 2));
    flex-basis: calc(100% * (1 / 2));
    max-width: calc(100% * (1 / 2));

    &.col--offset {
      padding-left: 0;

      @include break(tabletLarge) {
        padding-left: 30px;
      }

      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}

.col-lg-1 {
  @include break(tabletLarge) {
    -ms-flex-preferred-size: calc(100% * (1 / 12));
    flex-basis: calc(100% * (1 / 12));
    max-width: calc(100% * (1 / 12));

    &--of-10 {
      -ms-flex-preferred-size: calc(100% * (1 / 10));
      flex-basis: calc(100% * (1 / 10));
      max-width: calc(100% * (1 / 10));
    }
  }
}

.col-lg-2 {
  @include break(tabletLarge) {
    -ms-flex-preferred-size: calc(100% * (2 / 12));
    flex-basis: calc(100% * (2 / 12));
    max-width: calc(100% * (2 / 12));

    &--of-10 {
      -ms-flex-preferred-size: calc(100% * (2 / 10));
      flex-basis: calc(100% * (2 / 10));
      max-width: calc(100% * (2 / 10));
    }
  }
}

.col-lg-3 {
  @include break(tabletLarge) {
    -ms-flex-preferred-size: calc(100% * (3 / 12));
    flex-basis: calc(100% * (3 / 12));
    max-width: calc(100% * (3 / 12));

    &--of-10 {
      -ms-flex-preferred-size: calc(100% * (3 / 10));
      flex-basis: calc(100% * (3 / 10));
      max-width: calc(100% * (3 / 10));
    }
  }
}

.col-lg-4 {
  @include break(tabletLarge) {
    -ms-flex-preferred-size: 33.333% !important;
    flex-basis: calc(100% * (4 / 12));
    max-width: calc(100% * (4 / 12));

    &--of-10 {
      -ms-flex-preferred-size: calc(100% * (4 / 10));
      flex-basis: calc(100% * (4 / 10));
      max-width: calc(100% * (4 / 10));
    }

    &--gutter {
      -ms-flex-preferred-size: calc(100% * (4 / 12) - 40px);
      flex-basis: calc(100% * (4 / 12) - 40px);
      max-width: calc(100% * (4 / 12) - 40px);
    }
  }
}

.col-lg-5 {
  @include break(tabletLarge) {
    -ms-flex-preferred-size: calc(100% * (5 / 12));
    flex-basis: calc(100% * (5 / 12));
    max-width: calc(100% * (5 / 12));

    &--gutter {
      -ms-flex-preferred-size: calc(100% * (5 / 12) - 40px);
      flex-basis: calc(100% * (5 / 12) - 40px);
      max-width: calc(100% * (5 / 12) - 40px);
    }

    &--of-10 {
      -ms-flex-preferred-size: calc(100% * (5 / 10));
      flex-basis: calc(100% * (5 / 10));
      max-width: calc(100% * (5 / 10));
    }
  }
}

.col-lg-6 {
  @include break(tabletLarge) {
    -ms-flex-preferred-size: calc(100% * (6 / 12));
    flex-basis: calc(100% * (6 / 12));
    max-width: calc(100% * (6 / 12));

    &--of-10 {
      -ms-flex-preferred-size: calc(100% * (6 / 10));
      flex-basis: calc(100% * (6 / 10));
      max-width: calc(100% * (6 / 10));
    }
  }
}

.col-lg-7 {
  @include break(tabletLarge) {
    -ms-flex-preferred-size: calc(100% * (7 / 12));
    flex-basis: calc(100% * (7 / 12));
    max-width: calc(100% * (7 / 12));

    &--of-10 {
      -ms-flex-preferred-size: calc(100% * (7 / 10));
      flex-basis: calc(100% * (7 / 10));
      max-width: calc(100% * (7 / 10));
    }
  }
}

.col-lg-8 {
  @include break(tabletLarge) {
    -ms-flex-preferred-size: calc(100% * (8 / 12));
    flex-basis: calc(100% * (8 / 12));
    max-width: calc(100% * (8 / 12));

    &--of-10 {
      -ms-flex-preferred-size: calc(100% * (8 / 10));
      flex-basis: calc(100% * (8 / 10));
      max-width: calc(100% * (8 / 10));
    }
  }
}

.col-lg-9 {
  @include break(tabletLarge) {
    -ms-flex-preferred-size: calc(100% * (9 / 12));
    flex-basis: calc(100% * (9 / 12));
    max-width: calc(100% * (9 / 12));

    &--of-10 {
      -ms-flex-preferred-size: calc(100% * (9 / 10));
      flex-basis: calc(100% * (9 / 10));
      max-width: calc(100% * (9 / 10));
    }
  }
}

.col-lg-10 {
  @include break(tabletLarge) {
    -ms-flex-preferred-size: calc(100% * (10 / 12));
    flex-basis: calc(100% * (10 / 12));
    max-width: calc(100% * (10 / 12));

    &--of-10 {
      -ms-flex-preferred-size: calc(100% * (10 / 10));
      flex-basis: calc(100% * (10 / 10));
      max-width: calc(100% * (10 / 10));
    }
  }
}

.col-lg-11 {
  @include break(tabletLarge) {
    -ms-flex-preferred-size: calc(100% * (11 / 12));
    flex-basis: calc(100% * (11 / 12));
    max-width: calc(100% * (11 / 12));
  }
}

.col-lg-12 {
  @include break(tabletLarge) {
    -ms-flex-preferred-size: calc(100% * (12 / 12));
    flex-basis: calc(100% * (12 / 12));
    max-width: calc(100% * (12 / 12));
  }

  &.col--offset {
    padding-left: 0;

    &:first-of-type {
      padding-left: 0;
    }
  }
}

.col-lg-half {
  @include break(tabletLarge) {
    -ms-flex-preferred-size: calc(100% * (1 / 2));
    flex-basis: calc(100% * (1 / 2));
    max-width: calc(100% * (1 / 2));

    &.col--offset {
      padding-left: 0;

      @include break(tabletLarge) {
        padding-left: 30px;
      }

      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}

.site-wrapper {
  margin: 0 16px;

  @include break(tablet) {
    margin: 0 32px;
  }

  @include break(tabletLarge) {
    margin: 0 40px;
  }

  @include break(desktop) {
    margin: 0 51px;
  }

  &--padding {
    padding: 0 20px;

    @include break(tablet) {
      padding: 0 45px;
    }

    @include break(tabletLarge) {
      padding: 0 60px;
    }
  }
}

.page-offset {
  padding-top: 71px;

  @include break(tabletLarge) {
    padding-top: 128px;
  }
}
