/*========================================================================
Typography
* note: postcss px to rem converter plugin applied to all font-related style attributes
========================================================================== */

@font-face {
  font-family: 'Schnyder M';
  font-style: normal;
  font-display: auto;
  font-weight: bold;
  font-stretch: normal;
  src: url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/SchnyderM-Bold.eot?v=1588795952');
  src: url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/SchnyderM-Bold.eot?v=1588795952?#iefix')
      format('embedded-opentype'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/SchnyderM-Bold.woff2?v=1588795951')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/SchnyderM-Bold.woff?v=1588795951')
      format('woff'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/SchnyderM-Bold.ttf?v=1588795952')
      format('truetype'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/SchnyderM-Bold.svg?v=1588795953')
      format('svg');
}

@font-face {
  font-family: 'Lyon Text';
  font-style: normal;
  font-display: auto;
  font-weight: normal;
  font-stretch: normal;
  src: url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/LyonText-Regular.eot?v=1588795952');
  src: url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/LyonText-Regular.eot?v=1588795952?#iefix')
      format('embedded-opentype'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/LyonText-Regular.woff2?v=1588795951')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/LyonText-Regular.woff?v=1588795951')
      format('woff'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/LyonText-Regular.ttf?v=1588795952')
      format('truetype'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/LyonText-Regular.svg?v=1588795953')
      format('svg');
}

@font-face {
  font-family: 'Styrene A Regular';
  font-style: normal;
  font-display: auto;
  font-stretch: normal;
  src: url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.eot?v=1588795952');
  src: url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.eot?v=1588795952?#iefix')
      format('embedded-opentype'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.woff2?v=1588795951')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.woff?v=1588795951')
      format('woff'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.ttf?v=1588795952')
      format('truetype'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.svg?v=1588795953')
      format('svg');
}

@font-face {
  font-family: 'Styrene A Bold';
  font-style: normal;
  font-display: auto;
  font-stretch: normal;
  src: url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.eot?v=1588795952');
  src: url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.eot?v=1588795952?#iefix')
      format('embedded-opentype'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.woff2?v=1588795951')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.woff?v=1588795951')
      format('woff'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.ttf?v=1588795952')
      format('truetype'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.svg?v=1588795953')
      format('svg');
}

@font-face {
  font-family: 'Styrene A Medium';
  font-style: normal;
  font-display: auto;
  font-stretch: normal;
  src: url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.eot?v=1588795952');
  src: url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.eot?v=1588795952?#iefix')
      format('embedded-opentype'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.woff2?v=1588795951')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.woff?v=1588795951')
      format('woff'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.ttf?v=1588795952')
      format('truetype'),
    url('https://cdn.shopify.com/s/files/1/0282/9005/6297/files/StyreneA-Bold.svg?v=1588795953')
      format('svg');
}

/*= Font Families =*/
$schnyder: 'Schnyder M', helvetica, sans-serif;
$lyon: 'Lyon Text', helvetica, sans-serif;
$styrene: 'Styrene M', helvetica, sans-serif;

/*= Base Font Size =*/
$base-font-size: 16px;

/*= Headers =*/
h1 {
  font-family: $schnyder;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  color: $off-black;
  font-size: 70px;
}

label {
  color: $light-grey;
  font-family: $styrene;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1.2;
  // text-transform: uppercase;
}

@mixin hero-title {
  font-family: $schnyder-bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: $off-black;
  font-size: 32px;
  line-height: 1.44;
  margin: 40px auto 25px auto;
  padding: 0 20px;

  @include md {
    padding: 0px;
  }

  @include lg {
    font-size: 60px;
    line-height: 1.27;
  }
}

@mixin text-price {
  font-family: $styrene;
  font-size: rem(14px);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71; // 24px;
  letter-spacing: normal;
  color: $off-black;

  @include md {
    font-size: rem(16px);
    line-height: 1.5;
  }
}

@mixin text-label {
  font-family: $styrene;
  font-size: rem(10px);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2; // 12px;
  letter-spacing: 0.5px;
  color: $light-grey;
  text-transform: uppercase;
}

@mixin text-detail {
  font-family: $styrene;
  font-size: rem(13px);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54; //20px;
  letter-spacing: -0.25px;
  color: $off-black;
}

.text-price {
  @include text-price;
}

.text-label {
  @include text-label;
}

.text-detail {
  @include text-detail;
}
