/*========================================================================
Typography
* note: postcss px to rem converter plugin applied to all font-related style attributes
========================================================================== */

@font-face {
  font-family: 'Schnyder M';
  font-style: normal;
  font-display: auto;
  font-weight: bold;
  font-stretch: normal;
  src: url('../../assets/SchnyderM-Bold.eot');
  src: url('../../assets/SchnyderM-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/SchnyderM-Bold.woff2') format('woff2'),
    url('../../assets/SchnyderM-Bold.woff') format('woff'),
    url('../../assets/SchnyderM-Bold.ttf') format('truetype'),
    url('../../assets/SchnyderM-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Lyon Text';
  font-style: normal;
  font-display: auto;
  font-weight: normal;
  font-stretch: normal;
  src: url('../../assets/LyonText-Regular.eot');
  src: url('../../assets/LyonText-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/LyonText-Regular.woff2') format('woff2'),
    url('../../assets/LyonText-Regular.woff') format('woff'),
    url('../../assets/LyonText-Regular.ttf') format('truetype'),
    url('../../assets/LyonText-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Styrene A Bold';
  font-style: normal;
  font-display: auto;
  font-stretch: normal;
  font-weight: 700;
  src: url('../../assets/StyreneA-Bold.eot');
  src: url('../../assets/StyreneA-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/StyreneA-Bold.woff2') format('woff2'),
    url('../../assets/StyreneA-Bold.woff') format('woff'),
    url('../../assets/StyreneA-Bold.ttf') format('truetype'),
    url('../../assets/StyreneA-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Styrene A Medium';
  font-style: normal;
  font-display: auto;
  font-stretch: normal;
  font-weight: 600;
  src: url('../../assets/StyreneA-Medium.eot');
  src: url('../../assets/StyreneA-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/StyreneA-Medium.woff2') format('woff2'),
    url('../../assets/StyreneA-Medium.woff') format('woff'),
    url('../../assets/StyreneA-Medium.ttf') format('truetype'),
    url('../../assets/StyreneA-Medium.svg') format('svg');
}

@font-face {
  font-family: 'Styrene A Regular';
  font-style: normal;
  font-display: auto;
  font-stretch: normal;
  font-weight: 400;
  src: url('../../assets/StyreneA-Regular.eot');
  src: url('../../assets/StyreneA-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/StyreneA-Regular.woff2') format('woff2'),
    url('../../assets/StyreneA-Regular.woff') format('woff'),
    url('../../assets/StyreneA-Regular.ttf') format('truetype'),
    url('../../assets/StyreneA-Regular.svg') format('svg');
}

/*= Font Families =*/
$schnyder: 'Schnyder M', helvetica, sans-serif;
$lyon: 'Lyon Text', helvetica, sans-serif;
$styrene-bold: 'Styrene A Bold', helvetica, sans-serif;
$styrene-medium: 'Styrene A Medium', helvetica, sans-serif;
$styrene-regular: 'Styrene A Regular', helvetica, sans-serif;

/*= Base Font Size =*/
$base-font-size: 16px;

/*= Headers =*/
h1 {
  font-family: $schnyder;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  color: $off-black;
  font-size: 70px;
}

label {
  color: $light-grey;
  font-family: $styrene-bold;
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  // text-transform: uppercase;
}

@mixin hero-title {
  font-family: $schnyder-bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: $off-black;
  font-size: 32px;
  line-height: 1.44;
  margin: 40px auto 25px auto;
  padding: 0 20px;

  @include md {
    padding: 0px;
  }

  @include lg {
    font-size: 60px;
    line-height: 1.27;
  }
}

@mixin text-price {
  font-family: $styrene-regular;
  font-size: rem(14px);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71; // 24px;
  letter-spacing: normal;
  color: $off-black;

  @include md {
    font-size: rem(16px);
    line-height: 1.5;
  }
}

@mixin text-label {
  font-family: $styrene-bold;
  font-size: rem(10px);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2; // 12px;
  letter-spacing: 0.5px;
  color: $light-grey;
  text-transform: uppercase;
}

@mixin text-detail {
  font-family: $styrene-medium;
  font-size: rem(13px);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54; //20px;
  letter-spacing: -0.25px;
  color: $off-black;
}

.text-price {
  @include text-price;
}

.text-label {
  @include text-label;
}

.text-detail {
  @include text-detail;
}
