/*========================================================================
Typography
* note: postcss px to rem converter plugin applied to all font-related style attributes
========================================================================== */

@font-face {
  font-family: 'Schnyder M';
  font-style: normal;
  font-display: auto;
  font-weight: bold;
  font-stretch: normal;
  src: asset_url('SchnyderM-Bold.eot');
  src: asset_url('SchnyderM-Bold.eot?#iefix') format('embedded-opentype'),
    asset_url('SchnyderM-Bold.woff2') format('woff2'),
    asset_url('SchnyderM-Bold.woff') format('woff'),
    asset_url('SchnyderM-Bold.ttf') format('truetype'),
    asset_url('SchnyderM-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Lyon Text';
  font-style: normal;
  font-display: auto;
  font-weight: normal;
  font-stretch: normal;
  src: asset_url('LyonText-Regular.eot');
  src: asset_url('LyonText-Regular.eot?#iefix') format('embedded-opentype'),
    asset_url('LyonText-Regular.woff2') format('woff2'),
    asset_url('LyonText-Regular.woff') format('woff'),
    asset_url('LyonText-Regular.ttf') format('truetype'),
    asset_url('LyonText-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Styrene A Bold';
  font-style: normal;
  font-display: auto;
  font-stretch: normal;
  font-weight: 700;
  src: asset_url('StyreneA-Bold.eot');
  src: asset_url('StyreneA-Bold.eot?#iefix') format('embedded-opentype'),
    asset_url('StyreneA-Bold.woff2') format('woff2'),
    asset_url('StyreneA-Bold.woff') format('woff'),
    asset_url('StyreneA-Bold.ttf') format('truetype'),
    asset_url('StyreneA-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Styrene A Medium';
  font-style: normal;
  font-display: auto;
  font-stretch: normal;
  font-weight: 600;
  src: asset_url('StyreneA-Medium.eot');
  src: asset_url('StyreneA-Medium.eot?#iefix') format('embedded-opentype'),
    asset_url('StyreneA-Medium.woff2') format('woff2'),
    asset_url('StyreneA-Medium.woff') format('woff'),
    asset_url('StyreneA-Medium.ttf') format('truetype'),
    asset_url('StyreneA-Medium.svg') format('svg');
}

@font-face {
  font-family: 'Styrene A Regular';
  font-style: normal;
  font-display: auto;
  font-stretch: normal;
  font-weight: 400;
  src: asset_url('StyreneA-Regular.eot');
  src: asset_url('StyreneA-Regular.eot?#iefix') format('embedded-opentype'),
    asset_url('StyreneA-Regular.woff2') format('woff2'),
    asset_url('StyreneA-Regular.woff') format('woff'),
    asset_url('StyreneA-Regular.ttf') format('truetype'),
    asset_url('StyreneA-Regular.svg') format('svg');
}

/*= Font Families =*/
$schnyder: 'Schnyder M', helvetica, sans-serif;
$lyon: 'Lyon Text', helvetica, sans-serif;
$styrene-bold: 'Styrene A Bold', helvetica, sans-serif;
$styrene-medium: 'Styrene A Medium', helvetica, sans-serif;
$styrene-regular: 'Styrene A Regular', helvetica, sans-serif;

/*= Base Font Size =*/
$base-font-size: 16px;

/*= Headers =*/

h1 {
  font-family: $schnyder;
  font-size: 42px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  color: $off-black;
  max-width: $wide5;

  @include md {
    padding: 0px;
  }

  @include lg {
    font-size: 100px;
  }
}

h2 {
  font-family: $schnyder;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: $off-black;
  padding: 0 20px;
  max-width: $wide5;
  margin: 0 auto;
  @include md {
    padding: 0px;
  }
  @include lg {
    font-size: 42px;
    line-height: 1.29;
  }
}

h3 {
  font-family: $schnyder;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: $off-black;
  margin: 45px auto 20px auto;
  padding: 0 20px;
  max-width: $wide5;
  @include md {
    padding: 0px;
  }
  @include lg {
    font-size: 32px;
    margin-bottom: 30px;
    line-height: 1.44;
  }
}

h4 {
  font-family: $schnyder;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $off-black;
  margin: 45px auto 30px auto;
  padding: 0 20px;
  max-width: $wide5;

  @include md {
    padding: 0px;
  }
  @include lg {
    font-size: 24px;
    line-height: 1.42;
  }
}

@mixin h4 {
  font-family: $schnyder;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $off-black;

  @include lg {
    font-size: 24px;
    line-height: 1.42;
  }
}

@mixin hero-title {
  font-family: $schnyder;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: $off-black;
  font-size: 32px;
  line-height: 1.44;
  margin: 40px auto 25px auto;
  padding: 0 20px;

  @include md {
    padding: 0px;
  }

  @include lg {
    font-size: 60px;
    line-height: 1.27;
  }
}

@mixin text-price {
  font-family: $styrene-regular;
  font-size: rem(14px);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71; // 24px;
  letter-spacing: normal;
  color: $off-black;

  @include md {
    font-size: rem(16px);
    line-height: 1.5;
  }
}

@mixin text-label {
  font-family: $styrene-bold;
  font-size: rem(10px);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2; // 12px;
  letter-spacing: 0.5px;
  color: $light-grey;
  text-transform: uppercase;
}

@mixin text-detail {
  font-family: $styrene-medium;
  font-size: rem(13px);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54; //20px;
  letter-spacing: -0.25px;
  color: $off-black;
}

@mixin small-copy {
  font-family: $lyon;
  font-size: rem(12px);
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33; //16px;
  color: $grey;
}

.text-price {
  @include text-price;
}

.text-label {
  @include text-label;
}

.text-detail {
  @include text-detail;
}
