/*========================================================================
Global Variables
========================================================================== */

/*= Colors =*/
$off-black: #333;
$grey: #555;
$light-grey: #969696;
